# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.TowerDefense.iml
# Datasource local storage ignored files
/../../../../../../:\Projects\TowerDefense\.idea\.idea.TowerDefense\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
